.submarine {
    background-image: url('../img/Submarine.png');
    position: absolute;
    background-size: auto 100%;
    width: 2400px;
    height: 1200px;
    transform: translate(-50%, -50%) scale(25%);
    z-index: 1;
}

.engine {
    background-image: url('../img/ReactorOn.png');
    position: absolute;
    background-size: auto 100%;
    width: 800px;
    height: 400px;
    transform: translate(130px, 400px);
}

.chambers {
    background-image: url('../img/Chambers.png');
    position: absolute;
    background-size: auto 100%;
    width: 1200px;
    height: 400px;
    transform: translate(755px, 400px);
}

.bank1, .bank2 {
    position: absolute;
    width: 380px;
    height: 238px;
    background-color: #2c3e4b;
    border: none;
}

.bank1 {
    transform: translate(719px, 481px) rotate(-90deg);
}

.bank2 {
    transform: translate(1616px, 481px) rotate(-90deg);
}

.bank1::-moz-progress-bar, .bank2::-moz-progress-bar {
    background-color: #1D76B4FF;
}

.crewQuarters {
    background-image: url('../img/CrewQuarters.png');
    position: absolute;
    background-size: auto 100%;
    width: 450px;
    height: 250px;
    transform: translate(767px, 476px);
}

.generator {
    background-image: url('../img/GeneratorOn.png');
    position: absolute;
    background-size: auto 100%;
    width: 250px;
    height: 250px;
    transform: translate(1190px, 476px);
}

.co2Scrubber {
    background-image: url('../img/ScrubberOn.png');
    position: absolute;
    background-size: auto 100%;
    width: 150px;
    height: 250px;
    transform: translate(1434px, 476px);
}

.kitchen {
    background-image: url('../img/Kitchen.png');
    position: absolute;
    background-size: auto 100%;
    width: 350px;
    height: 250px;
    transform: translate(1575px, 476px);
}

.controlRoom {
    background-image: url('../img/ControlRoomRDROn.png');
    position: absolute;
    background-size: auto 100%;
    width: 450px;
    height: 400px;
    transform: translate(1900px, 400px);
}